<!DOCTYPE html>
<html>
    <head>
        <title>UberTranslationDemo</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            {% block uber_translation_demo_content %}{% endblock %}
        </div>
    </body>
</html>
